
name: Anchore Syft SBOM scan

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  Anchore-Build-Scan:
    permissions:
      contents: write # required to upload to the Dependency submission API
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@v3
    - name: Scan the repo and upload dependency results
      run: npm install
      uses: anchore/sbom-action@bb716408e75840bbb01e839347cd213767269d4a
      with:
        artifact-name: image.spdx.json
        dependency-snapshot: true
