name: Run My Test

on: [push]

jobs:
  abc:
    runs-on: ubuntu-latest
    name: A cool job
    steps:
      - name: Checkout
        uses: actions/checkout@/v3
      - name: Trap Mouse
        uses: ./
        id: mouse
        with:
          yourmom: 'Cathy Cat'
