on: push

jobs:
  test:
    runs-on: ubuntu-latest
    name: my test job
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Hello world action step
      uses: ./ # Uses an action in the root directory
      id: hello
      with:
        lastname: 'Weibell'
        firstname: 'Tucker'

